@font-face {
  font-family: 'Söhne Extrafett';
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/soehne/soehne-extrafett.woff2") format('woff2');
}
@font-face {
  font-family: 'Söhne Dreiviertelfett';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/soehne/soehne-dreiviertelfett.woff2") format('woff2');
}
@font-face {
  font-family: 'Söhne Kraftig';
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/soehne/soehne-kraftig.woff2") format('woff2');
}