[type='text'], [type='email'], textarea, select {
    border:2px solid #000;
    font-size:1.8rem;
    width: 100%;
    font-size: inherit;
    padding:1rem;
}

[type='submit'] {
    font-size:1.8rem;
    font-weight: bold;
    cursor: pointer;
    padding:1rem 2rem;
    background-color:var(--button-background);
    border:2px solid var(--button-background-hover);
    color:white;
    &:hover {
        background-color:#333;
        color:white;
    }
}

::placeholder { /* Firefox 19+ */
    color: black;
}

.error {
    border-color: red;
}
  
.error-message {
    color: red;
    font-style: italic;
    font-size:1.4rem;
}

.input-group {
    
    display:flex;
    flex-wrap: wrap;
    gap: 1rem;

    .form-control {flex: 1;}

    &.contact-form {
        flex-direction: column;
        [type='text'], [type='email'], textarea, select {
            border-color: black;
            margin-top:0.4rem;
        }
        [type='submit'] {
            margin:0;
            background-color: black;
            color:white;
            padding-left:2rem;
            padding-right:2rem;
            &:hover, &:focus {
                background-color:#333;
                color:white;
            }
        }
    }
}
