.custom-select {
	position: relative;
}
.select-css {
	display: block;
	width: 100%;
	max-width: 100%;
	box-sizing: border-box;
	margin: 0;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	position: relative;
	z-index: 10;
}
.select-css::-ms-expand {
	display: none;
}
.select-css:hover {
	border-color: #888;
}
.select-css:focus {
	border: 2px dashed var(--highlight-dark); 
	color: #222;
	outline: none;
}
.custom-select-icons {
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 20;
	border: 1px solid white;
	background: transparent;
}
.custom-select-options {
	border: 2px solid #000;
	border-radius: 0 0 3px 3px;
	line-height: 1.5;
	margin: 0;
	margin-top: -5px;
	padding: 0;
	list-style-type: none;
	font-weight:normal;
	cursor: pointer;
	z-index: 2;
	position: absolute;
	width: calc(100% - 1px);
	background-color: #ffffff;
}
.jw-content ul.custom-select-options {margin:-5px 0 0 0;list-style-type: none;}
.custom-select-options li {
	padding: 1em;
}
.custom-select-options li:hover {
	background: var(--highlight-dark);
	color: #fff;
	border: 1px solid var(--highlight-dark);
	border-width: 0 0 0 1px;
}

.custom-select-options li:focus {
	border: 2px dashed var(--highlight-dark);
}
.custom-select .icon {
    fill: ButtonText;
    pointer-events: none;
}
@media screen and (-ms-high-contrast: active) {
	.custom-select .icon {
		fill: ButtonText;
	}
}