{% macro cta(params) %}
  <div class="block block--cta{% if params.class %} {{ params.class }}{% endif %}"{% if params.color %} style="background-color: {{ params.color }};"{% endif %}>
        <div class="inner">
          {% if params.cta %}
          <a href="{{ params.link }}" class="block__cta button">{{ params.cta }}</a>
          {% endif %}
        </div><!--/inner-->
  </div><!--/block-->
{% endmacro %}