{% macro float(params) %}
  <div class="block block--float{% if params.class %} {{ params.class }}{% endif %}"{% if params.color %} style="background-color: {{ params.color }};"{% endif %}>
        <div class="inner">
          {% if params.heading %}
          <h2 class="block__heading">{{ params.heading }}</h2>
          {% endif %}
          {% if params.file %}
          {% markdown %}
          {% include params.file %}
          {% endmarkdown %}
          {% endif %}
        </div><!--/inner-->
  </div><!--/block-->
{% endmacro %}