{% macro hero(image, heading, content, class) %}
  <div class="block block--media{% if class %} {{ class }}{% endif %}"{% if heading %} style="background-image: url({{ image }});"{% endif %}>
        <div class="block__wrapper">
        {% if heading %}
        <h2 class="block__heading">{{ heading }}</h2>
        {% endif %}
        {% if content %}
        <div class="block__content">
        {{content}}
        </div>
        {% endif %}
        </div>
  </div>
{% endmacro %}