{% macro hero(params) %}
  <div class="block block--media{% if params.class %} {{ params.class }}{% endif %}">

        <figure class="block__background">
          <picture>
            <source media="(min-width: 900px)" srcset="{% if params.image_large %}{{ params.image_large }}{% else %}{{ params.image }}{% endif %}">
            <img width="640" height="427" src="{{ params.image }}" alt="{{ params.heading }}" loading="lazy" />
          </picture>
        </figure><!--/block__background-->

        <div class="block__wrapper">
          <div class="inner">
            {% if params.heading %}
            <h1 class="block__heading">{{ params.heading }}</h1>
            {% endif %}
            {% if params.file %}
            <div class="block__content">
            {% markdown %}
            {% include params.file %}
            {% endmarkdown %}
            </div>
            {% endif %}
          </div><!--/inner-->
        </div><!--/block__wrapper-->
  </div><!--/block-->
{% endmacro %}