//CSS Vars - usage var(--background)
:root {
	--hue: 257; 
	
    --background: white;
    --masthead: #1E1E1E;
	
    --border:#e5e7e9;
	
    --text-color-normal: hsl(257, 2%, 0%);
    --heading: hsl(257, 2%, 15%);
	--meta: hsl(257, 2%, 30%);

    --highlight: hsl(257, 100%, 20%);
	--highlight-dark: hsl(257, 20%, 20%);
	--highlight-light: hsl(257, 100%, 90%);
	--hover: hsl(257, 20%, 20%);

    --button-background: hsl(257, 20%, 20%);
    --button-background-hover: hsl(257, 20%, 30%);
	--button-text-color: white;
	
	--spacer: 2rem;
}

* {
    box-sizing: border-box;
}

//Fonts - https://rsms.me/inter/
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

//Global
html {
    font-size: 62.5%;
}

body {
    // font-family: $typeface;
    font-size: $default-font-size;
    line-height: $default-line-height;
    font-weight: normal;
    background-color:var(--textbackground);
    color: var(--text-color-normal);
    text-align:left;
}


%dgTitle,
.dgTitle {
  font-size:3rem;
  line-height: 3.2rem;
  color:var(--text-color-normal);
  margin: 4rem 0 2rem 0;
  @media #{$large-up} {
    font-size:4.8rem;
    line-height: 5rem;
  }
}

//Links
a, a:link {
 -webkit-transition: all 150ms ease;
  transition: all 150ms ease;
  color:var(--highlight);
  text-decoration: underline;
  &:hover, &:focus {
      color:var(--highlight-dark);
      text-decoration: none;
  }
}

//Blazy
.b-lazy {
    filter: blur(2vw);
    /* this is needed so Safari keeps sharp edges */
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    transform: scale(1.1);
    opacity: 0;
    &.b-loaded {
        transform: scale(1);
        filter: none;
        opacity: 1;
    }
}

//Typography
h1,h2,h3,h4,h5,h6{
  font-weight:900;
  line-height: 1.33;
  color:var(--heading);
  margin:calc(var(--spacer) * 2) 0 var(--spacer);
}

.dg-content {
    h1 {
        @extend .dgTitle; //48px
    }
    h2 {
        font-size: 3rem;
        line-height: 3.2rem;
    }
    h3 {
        font-size: 2.4rem;
    }
    h4 {
        font-size: 2rem;
    }
    h5 {
       font-size: 1.8rem;
       font-weight: normal;
    }
    h6 {
       font-size: 1.6rem;
       font-weight: normal;
    }
    p {
        margin:0 0 var(--spacer);
    }
    ul {
        margin:0 0 calc(var(--spacer) * 2) calc(var(--spacer) * 2);
        list-style-type: disc;
    }
    ol {
        list-style-type: lower-alpha;
        margin:0 0 calc(var(--spacer) * 2) calc(var(--spacer) * 2);
        ol {
            margin-top:var(--spacer);
            list-style-type: lower-roman;
        }
    }
    img {
        margin-top:2rem;
    }
    code {
        font-family: monospace;
    }
}


//Siblings
// h3 ~ h4 {margin-top:calc((var(--spacer) / 2) * -1);}

/*Layout*/
.dg-wrapper {

}
@media only screen and (min-width: 64rem) {
    .dg-wrapper {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
      }
}

.dg-masthead {
    overflow: hidden;
    padding:0;
    background-color:var(--border);
    .dg-masthead__container {
        padding:2rem;
        display: flex;
        align-items: stretch;
        justify-content: space-between;
    }
}

//Sticky footer
.dg-container {
    flex:1;
}

.dg-footer {
  background-color: var(--masthead);
  color:white;
}

//Nav
.dg-nav {}

//Logo
.dg-masthead__logo {
    svg {
        width:4.4rem;
        height:4.4rem;
    }
}

.dg-content {
    padding:0;
    margin:0;
}

.dg-content__inner {
    margin:0 auto 4rem;
    max-width: 80rem;
    padding:0 2rem;
    @media #{$large-up} {
        padding:0;
    }
}

//Links
.dg-content__links {
    p {margin:0 0 0.25rem;}
    [class^="fa"] {margin-right:1rem;}
}


//Footer
.dg-footer {
    padding:4rem 0;
    color:var(--border);
    .nav-social {
        margin: 2rem auto;
        padding:0;
        max-width: 40rem;
        display: flex;
        align-items: stretch;
        justify-content: space-evenly;
        li {
            display: block;
            flex: 0 1 auto;
        }
    }
    .icon-social {
        width: 3rem;
        height: 3rem;
        transition: all .3s ease;
        fill: var(--border);
        -webkit-transition: all 150ms ease;
         transition: all 150ms ease;
        &:hover {
            opacity: 1;
            fill: var(--highlight-light);
            transform: scale(1.1);
        }
    }
    .icon-social-instagram {
        fill: url(#rg);
    }
    p {
        color:inherit;
        font-size:12px;
        text-align: center;
        margin:2rem 0;
        > a {
            color:inherit;
            &:hover {
                text-decoration: none;
                fill: var(--highlight-light);
            }
        }
    }
}

//Themes
$themes: (
    "light-grey": $dg-light-grey,
    "dark-grey": $dg-dark-grey,
    "coal": $dg-coal
);
@each $theme, $color in $themes {
      .theme--#{$theme}  {
        background-color:$color;
      }
}
