@charset 'utf-8';

// RESET
@import "partials/reset";

// VARIBLES
@import "partials/vars_funcs_mixins";

// GALLERY
@import 'gallery/main.scss';
@import 'gallery/default-skin/default-skin.scss';

// ANIMATION
// @import "partials/animate";

//FONTS
@import "partials/inter";

// FORMS
@import "partials/forms";

// COOKIES
@import "partials/cookies";

// GALLERY
@import "partials/gallery";

// MODAL
@import "partials/modal";

// BLOCKS
@import "partials/blocks";

// MENU
@import "partials/menu";

// CUSTOM
@import "theme/theme";

// MENU
@import "partials/utilities";
