<div id="cookieNotice" class="cookie-notice open" role="region">
    <div class="container">
        <p>Like most websites {{ siteTitle }} uses cookies to give you the best experience. <a href="{{ sitePrivacyUrl }}" title="View our Privacy Policy">Learn more</a>
        <button id="cookieButton" class="cookieButton close" type="button" aria-label="Accept Cookies">Accept Cookies</button>
        <button id="cookieSettings" class="cookieButton accept" type="button" aria-label="Close">Settings</button>
        </p>
    </div>
</div>