{% set siteTitle = site.name %}
{% set currentUrl = site.siteUrl %}
{% set socialImage = site.socialImage %}

{% if pageName %}
    {% set currentUrl = site.siteUrl + '/' + pageName %}
    {% set metaTitle = pageTitle + ' - ' + site.name %}
{% else %}
    {% set metaTitle = site.name %}
{% endif %}

{% if pageDesc %}
    {% set metaDesc = pageDesc %}
{% else %}
    {% set metaDesc = site.shortDesc %}
{% endif %}

<link rel="mask-icon" sizes="any" href="./images/logotype.svg" color="#14d5de">
<link rel="icon" type="image/png" sizes="16x16" href="./images/fav/favicon-16x16.png">
<link rel="icon" type="image/png" sizes="16x16" href="./images/fav/favicon-32x32.png">
<link rel="apple-touch-icon" sizes="192x192" href="./images/fav/apple-touch-icon.png" />
<link rel="manifest" href="./images/fav/manifest.json">
<meta name="apple-mobile-web-app-title" content="{{ siteTitle }}" />
<meta name="apple-mobile-web-app-status-bar-style" content="white" />
<meta name="msapplication-TileColor" content="#14d5de">
<meta name="theme-color" content="#14d5de">

<title>{{ metaTitle }}</title>
<link rel="canonical" href="{{ currentUrl }}" />
<meta property="og:locale" content="en_GB" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ currentUrl }}" />
<meta property="og:site_name" content="{{ siteTitle }}" />

{% if site.authorHandle %}
<meta name="twitter:creator" content="@{{ site.authorHandle | replace('@', '') }}" />
{% endif %}

{% if metaTitle %}
<meta name="twitter:title" content="{{ metaTitle }}" />
<meta property="og:title" content="{{ metaTitle }}" />
{% endif %}

{% if metaDesc %}
  <meta name="description" content="{{ metaDesc }}" />
  <meta name="twitter:description" content="{{ metaDesc }}" />
  <meta property="og:description" content="{{ metaDesc }}" />
{% endif %}

{% if socialImage %}  
<meta name="twitter:card" content="summary_large_image">
<meta property="og:image" content="{{ socialImage }}" />
<meta name="twitter:image" content="{{ socialImage }}" />
<meta property="og:image:alt" content="Page image for {{ site.name }}" />
<meta name="twitter:image:alt" content="Page image for {{ site.name }}" />
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="630">
{% endif %}

{% if site.paymentPointer %}
  <meta name="monetization" content="{{ site.paymentPointer }}" />
{% endif %}