<script type='application/ld+json'>{"@context":"https://schema.org","@type":"WebSite","@id":"{{ site.siteUrl }}#website","url":"{{ site.siteUrl }}","name":"{{ site.companyName }}","logo":"{{ site.siteUrl }}/images/og/logo-160x60.png"}</script>