{% set body_class = "jw-contact" %}
{% set page_title = "Contact" %}
{% set page_name = "contact.html" %}

{% extends "layout/_layout.njk" %}

{% block content %}
<div class="jw-content__inner">
  <h1>Contact</h1>
  <form method="POST" action="https://formspree.io/dogwonder@gmail.com" data-validate>
    <p>
      <label for="name">Your Name:</label>
      <input type="text" name="name" title="Please add your name" required>
    </p>
    <p>
      <label for="_replyto">Your Email:</label>
      <input type="email" autocapitalize="none" autocorrect="off" name="_replyto" pattern="^([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x22([^\x0d\x22\x5c\x80-\xff]|\x5c[\x00-\x7f])*\x22)(\x2e([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x22([^\x0d\x22\x5c\x80-\xff]|\x5c[\x00-\x7f])*\x22))*\x40([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x5b([^\x0d\x5b-\x5d\x80-\xff]|\x5c[\x00-\x7f])*\x5d)(\x2e([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x5b([^\x0d\x5b-\x5d\x80-\xff]|\x5c[\x00-\x7f])*\x5d))*(\.\w{2,})+$" required>
    </p>
    <p>
      <label for="message">Message:</label>
      <textarea name="message" required></textarea>
    </p>
    <p>

				<label for="custom-select-input">User Type (filtered, accessible)</label>
				<div id='jw-select-status' class='hidden-visually' aria-live="polite"></div>
				<div class="custom-select" id="jwCustomSelect">
					<input type="text" id="custom-select-input" class="select-css" aria-describedby="custom-select-info">
					<span id="custom-select-info" class="hidden-visually">Arrow down for options or start typing to filter.</span>
					<span class="custom-select-icons">
						<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16" height="16" viewBox="0 0 16 16" focusable="false" aria-hidden="true" id="icon-circle-down" class="icon" role="img">
							<path d="M16 8c0-4.418-3.582-8-8-8s-8 3.582-8 8 3.582 8 8 8 8-3.582 8-8zM1.5 8c0-3.59 2.91-6.5 6.5-6.5s6.5 2.91 6.5 6.5-2.91 6.5-6.5 6.5-6.5-2.91-6.5-6.5z"></path>
							<path d="M4.957 5.543l-1.414 1.414 4.457 4.457 4.457-4.457-1.414-1.414-3.043 3.043z"></path>
						</svg>
						<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16" height="16" viewBox="0 0 16 16" focusable="false" aria-hidden="true" id="icon-circle-up" class="icon hidden-all" role="img">
							<path d="M0 8c0 4.418 3.582 8 8 8s8-3.582 8-8-3.582-8-8-8-8 3.582-8 8zM14.5 8c0 3.59-2.91 6.5-6.5 6.5s-6.5-2.91-6.5-6.5 2.91-6.5 6.5-6.5 6.5 2.91 6.5 6.5z"></path>
							<path  d="M11.043 10.457l1.414-1.414-4.457-4.457-4.457 4.457 1.414 1.414 3.043-3.043z"></path>
						</svg>							
					</span>
					<ul class="custom-select-options hidden-all" id="custom-select-list">
						<li><strong>User</strong><br>Logged in Users can read locked content and update their profile.</li>
						<li><strong>Author</strong><br>Authors can create, edit and delete their own posts.</li>
						<li><strong>Editor</strong><br>Editors can create, edit and delete all posts by all authors.</li>
						<li><strong>Manager</strong><br>Managers have the same permissions as Editors, plus they can create, edit and delete categories, pages and manage comments.</li>
						<li><strong>Administrator</strong><br>Administrators have full control over the posts, pages, categories, themes and plugins of the site.</li>
					</ul>
				</div>

			
    </p>
    <p>
      <input type="submit" value="Send">
    </p>
  </form>
</div>
{% endblock %}

{% block scripts %}
  <script>
  {# Validation https://github.com/cferdinandi/validate #}
  validate.init();
	customSelect('#jwCustomSelect', {statusSelector: '#jw-select-status'});
  </script>
{% endblock %}
