{% set body_class = "dg-gallery" %}
{% set page_title = "Gallery" %}
{% extends "layout/_layout.njk" %}

{% block content %}
<div class="dg-content__inner" id="about">
 
<h1>Gallery</h1>
<div class="dg-gallery">
    <div class="dg-gallery__grid gallerySwipe">

    {% for image in images %}
        <figure id="image-{{ image.index }}" class="dg-gallery__item" itemprop="associatedMedia" itemscope
        itemtype="http://schema.org/ImageObject">
            <a href="{{ image.image_large }}" itemprop="contentUrl" 
                data-size="{{ image.width }}x{{ image.height }}">
                <img src="{{ image.image }}" alt="{{ image.title }}" />
            </a>
            <figcaption class="dg-gallery__details" itemprop="caption description">{{ image.title }}</figcaption>
        </figure>
    {% endfor %}
    
    </div>
</div>
{% endblock %}