{% set body_class = "wj-gallery" %}
{% set page_title = "Gallery" %}

{% extends "layout/_layout.njk" %}
{% from "macros/gallery.njk" import gallery %}

{% block content %}
<div class="wj-content__inner" id="about">
 
<h1>Gallery</h1>
<div class="wj-gallery">
    <div class="wj-gallery__grid gallerySwipe">
        {% for image in images %}
            {{ gallery(image.index, image.title, image.image, image.image_large, image.width, image.height) }}
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block scripts %}
{% include "partials/_gallery-dom.njk" %}
<script src="./scripts/gallery.js"></script>
{% endblock %}