{% set bodyClass = "jw-home" %}

{% extends "layout/_layout.njk" %}

{% from "macros/hero.njk" import hero %}
{% from "macros/text.njk" import text %}
{% from "macros/float.njk" import float %}
{% from "macros/cta.njk" import cta %}
{% from "macros/map.njk" import map %}
{% from "macros/image.njk" import image %}
{% from "macros/modal.njk" import modal %}

{% block content %}

{# {{ modal({
    bg_color: '', 
    button_text: '', 
    file: '', 
    class: ''
 }) }} #}

{# {{ hero({
    image: 'path/to/image.jpg', 
    image_large: 'path/to/image-large.jpg', 
    heading: 'Block title', 
    file: 'markdown.md', 
    class: 'class'
 }) }} #}

 {{ hero({
    image: './images/blocks/block-7-640w.jpg', 
    image_large: './images/blocks/block-7-1920w.jpg', 
    heading: '🧱 juckWonder 🧱', 
    file: 'markdown/intro.md'
 }) }}

{# {{ text({
  color: '',
  bg_color: '',
  alignment: '',
  image: '',
  image_large: '',
  heading: '', 
  file: ''
}) }} #}

{{ text({
  alignment: 'right',
  image: './images/blocks/block-2-640w.jpg',
  image_large: './images/blocks/block-2-1920w.jpg',
  heading: 'Text block -- with image', 
  file: 'markdown/1.md'
}) }}

{{ text({
  color: '#9A9FA2',
  bg_color: '#efefef',
  alignment: 'left',
  heading: 'Another text block -- with solid colour', 
  file: 'markdown/2.md'
}) }} 

{{ text({
  alignment: 'center',
  heading: 'Center text block', 
  file: 'markdown/ipsum.md'
}) }} 


{# {{ float({
    bg_color: '', 
    heading: '', 
    file: '', 
    class: ''
 }) }} #}

 {{ float({
    bg_color: '#e5e7e9', 
    heading: 'Floating block', 
    file: 'markdown/lorem.md'
 }) }}

 {# {{ cta({
    bg_color: '', 
    heading: '', 
    url: '', 
    class: ''
 }) }} #}

{{ cta({
    heading: 'About juckWonder', 
    url: './about.html'
 }) }}

 {# {{ map({
    address: ''
 }) }} #}


 {{ image({
    image: './images/blocks/block-8-640w.jpg', 
    image_large: './images/blocks/block-8-1920w.jpg', 
    alt: 'Alttext'
 }) }}


 {% endblock %} 