{% set body_class = "dg-home" %}
{% extends "layout/_layout.njk" %}

{% block content %}

{% import "macros/media.njk" as blockMedia %}
{% import "macros/text.njk" as blockContent %}

{{ blockMedia.hero('./images/gallery/images/1.jpg', 'Hello world', '') }}
{# Look at using classes e.g. light-grey instead of hex #}
{{ blockContent.text('right', '', './images/gallery/images/3.jpg', 'The Inter typeface family', 'markdown/content.md') }}
{{ blockContent.text('left', '#444444', '', 'The Inter typeface family', 'markdown/test.md') }}

{% endblock %} 