<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if title %}{{ title }}{% else %}{{ title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="./scripts/js.cookie.js"></script>
    <script type="module">
    let cookies_vars = {
        "essential":true,
        "analytics":true,
        "marketing":true,
        "settings":true
    };
    Cookies.set('dg_cookie_policy', cookies_vars, { expires: 365, path: '' });
    </script>
    <link rel="stylesheet" href="./css/main.css">
    {% include "../partials/_meta.njk" %}
</head>
<body class="dg{% if body_class %} {{ body_class }}{% endif %}">
    {% include "../partials/_cookie.njk" %}
    <div class="dg-wrapper">
    {% include "../partials/_header.njk" %}
    <main id="content" class="dg-container">
      <div class="dg-content">
        {% block content %}
            {# Main content goes here. #}
         {% endblock %}
      </div>
    </main><!--/.container-->
    {% include "../partials/_footer.njk" %}
    </div><!--/.wrapper-->
    {% include "../partials/_gallery-dom.njk" %}
    <script src="./scripts/scripts.js"></script>
    <script src="./scripts/gallery.js"></script>
    <script>
    {# Mobile nav https://github.com/cferdinandi/astro/ #}
    astro.init();
    {# Service worker #}
    if('serviceWorker' in navigator) {
    const registerServiceWorker = async () =>  
    navigator.serviceWorker.register('./service-worker.js');
    const registration = await registerServiceWorker();
    }
    </script>
</body>
</html>