<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if title %}{{ title }}{% else %}Template{% endif %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="./scripts/js.cookie.js"></script>
    <script type="module">
    let cookies_vars = {
        "essential":true,
        "analytics":true,
        "marketing":true,
        "settings":true
    };
    Cookies.set('dg_cookie_policy', cookies_vars, { expires: 365, path: '' });
    </script>
    <link rel="stylesheet" href="./css/main.css">
    {% include "../partials/_meta.njk" %}
</head>
<body class="dg{% if body_class %} {{ body_class }}{% endif %}">
    <div class="dg-wrapper flow">
    {% include "../partials/_header.njk" %}
    <section class="dg-container" role="main">
      <main class="dg-content">
        {% block content %}
            {# Main content goes here. #}
         {% endblock %}
      </main>
    </section><!--/.container-->
    {% include "../partials/_footer.njk" %}
    </div><!--/.wrapper-->
    {% include "../partials/_gallery-dom.njk" %}
    <script src="./scripts/scripts.js"></script>
    <script>
    astro.init(); //Astro menu https://github.com/cferdinandi/astro/
    </script>
    <script src="./scripts/gallery.js"></script>
</body>
</html>