<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>{% if pageTitle %}{{ siteTitle }} - {{ pageTitle }}{% else %}{{ siteTitle }}{% endif %}</title>
    <meta name="description" content="{{ siteDesc }}"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="./scripts/js.cookie.js"></script>
    <script>
    {# Set the 🍪 if not yet defined #}
    (function(){
        //Set up our 🍪 vars
        let cookies_vars = {"essential":true,"analytics":true,"marketing":true};

        //If the 🍪 not set, set it 
        let hasCookie = Cookies.get('jw_cookie_policy');
        if (!hasCookie) {
            Cookies.set('jw_cookie_policy', cookies_vars, { expires: 365, path: '' });
        }

        //Now let's get the 🍪 vars
        let getCookie = Cookies.getJSON('jw_cookie_policy');
        //If analytics 🍪 is true 
        if(getCookie.analytics === true) {
            //console.log('Analytics 🍪 is set to true');   
        } else {
            //console.log('Analytics 🍪 is set to false');   
        }

        //If marketing 🍪 is true 
        if(getCookie.marketing === true) {
            //console.log('Marketing 🍪 is set to true');   
        } else {
            //console.log('Marketing 🍪 is set to false');   
        }

    })();
    </script>
    <link rel="stylesheet" href="./css/main.css">
    {% include "../partials/_meta.njk" %}
    {% include "../partials/_structured-data.njk" %}
</head>
<body class="has-cookie wj{% if body_class %} {{ body_class }}{% endif %}">
    {% include "../partials/_cookie.njk" %}
    <div class="jw-wrapper">
    {% include "../partials/_header.njk" %}
    <main id="content" class="jw-container">
      <div class="jw-content">
        {% block content %}
            {# Main content goes here. #}
         {% endblock %}
      </div>
    </main><!--/.container-->
    {% include "../partials/_footer.njk" %}
    </div><!--/.wrapper-->
    <script src="./scripts/app.js"></script>
    {% block scripts %}
        {#extra scripts. #}
    {% endblock %}
    <script>
    if ('serviceWorker' in navigator) {
    // Register a service worker hosted at the root of the
    navigator.serviceWorker.register('./sw.js').then(function(registration) {
        console.log('Service worker registration succeeded:', registration);
    }, /*catch*/ function(error) {
        console.log('Service worker registration failed:', error);
    });
    } else {
    console.log('Service workers are not supported.');
    }
    {# Mobile nav https://github.com/cferdinandi/astro #}
    astro.init();
    {# Validation https://github.com/cferdinandi/validate #}
    validate.init();
    </script>
</body>
</html>